*{
  font-family: 'Otomanopee One', sans-serif;
}
body{
    background: rgb(222,13,161);
    background: linear-gradient(90deg, rgba(222,13,161,1) 2%, rgba(100,87,241,1) 52%, rgba(250,58,116,1) 92%);
  

}
#heading {
  z-index: 2;
}
#heading h1 {
  font-size: 4vw;
  color: white;
  font-weight: bold;
  text-align: center;
}
#heading p {
  font-size: 2vw;
  color: white;
  font-weight: bold;
  text-align: center;
}
nav li {
  transition: 0.3s ease-in-out;
}
nav li:hover {
  transform: scale(1.2);
}

.carousel .carousel-item {
  max-height: 550px;
}

.carousel-item img {
  object-fit: cover;
  max-height: 550px;
}
.played {
  text-align: center;
  margin: 30px;
  font-size: 54px;
  font-weight: bold;
  color: white;
}

.subsection {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.card {
  transition: 0.5s ease-in-out;
}
#card:hover {
  transform: scale(1.1);
}

.whowe {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.icons i {
  margin: 2px 5px;
}
.whowe img {
  margin-top: 30px;
  border-radius: 50%;
}

.sectionlogin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 100px;
}
.sectionlogin button {
  margin-top: 30px;
  padding: 15px 20px;
  color: white;
  background-color: black;
  font-size: 32px;
  font-weight: bold;
  border: 6px solid red;
  transition: 0.4s ease-in-out;
}
.sectionlogin button:hover {
  background-color: red;
  color: black;
  border: 6px solid black;
  transform: scale(1.18);
}

#foot {
  text-align: center;
  padding: 30px;
  color: white;
  font-size: 18px;
}

body html {
  height: 100%;
}

#mainload {
  background-image: url("mainloading.gif");
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 5;
  /* Center and scale the image nicely */
  margin: 0;
  padding: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#texts {
  margin: auto;
  z-index: 10;
  color: white;
  text-align: center;
  margin-top: 50px;
}
#texts span {
  font-weight: bold;
}
